
@import '/antd/dist/antd.css';

.certainCategorySearch.ant-select-auto-complete .antInputAffixWrapper .antInputSuffix {
  right: 12px;
}

.certainCategorySearchDropdown .antSelectDropdownMenuItemGroupTitle {
  color: #666;
  font-weight: bold;
}

.certainCategorySearchDropdown .antSelectDropdownMenuItemGroup {
  border-bottom: 1px solid #F6F6F6;
}

.certainCategorySearchDropdown .antSelectDropdownMenuItem {
  padding-left: 16px;
}

.certainCategorySearchDropdown .antSelectDropdownMenuItem .showAll {
  text-align: center;
  cursor: default;
}

.certainCategorySearchDropdown .antSelectDropdownMenu {
  max-height: 500px;
}

.certainSearchItemCount {
 position: absolute;
 color: #999;
 right: 16px;
}

.certainCategorySearch.antSelectFocused .certainCategoryIcon {
  color: #108ee9;
}

.certainCategoryIcon {
  color: #6E6E6E;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 16px;
}

.abc {
  height: 200px;
}